/* styles.css */
.chatbot-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 15%;
    right: 3%;
    z-index: 9999;
    transition: opacity 0.3s ease-in-out;
}

.chatbot-header .header {
    width: 100%;
    margin: 0;
}

.chatbot-header {
    font-size: 1.5em;
    padding: 10px;
    background-color: #6e48aa;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close-chatbot {
    cursor: pointer;
}

.chatbot {
    padding: 15px;
}

.showChatBot {
    display: flex;
    opacity: 1;
}

.hideChatBot {
    display: none;
    opacity: 0;
}

.chatbot-button {
    background-color: #6e48aa;
    color: white;
    font-size: 1em;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    position: fixed;
    top: 100px;
    right: 0px;
    animation: zoom 2s infinite alternate;
    z-index: 9999;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.chatbot-button:hover {
    background-color: #4b2a82;
    transform: translateY(-3px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.chatbot-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.5);
}