.contact-us {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 40px;
  max-width: 80vw;
  margin: 100px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.vertical-line {
  width: 2px;
  background-color: #a2a2a2;
  height: auto;
  align-self: stretch;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  gap: 50px;
}

.form-section {
  padding-right: 20px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row1,
.row2 {
  display: flex;
  justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.input,
.textarea {
  border: 2.5px solid #a2a2a2;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.textarea {
  height: 200px;
  width: 500px;
  max-height: 300px;
  max-width: 600px;
  overflow-y: auto;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.submit-btn {
  min-width: 250px;
  height: 50px;
  background-color: #13659b;
  font-size: 18px;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: rgb(54, 133, 212);
}

.contact-info {
  max-width: 400px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 10%;
}

.info-header h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.subhead {
  color: #939393;
  margin-bottom: 20px;
}

.contact-details {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.contact-item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px;
}

.contact-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.social-links {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.social-icon {
  width: 35px;
  height: 35px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

@media (max-width: 924px) {
  .contact-us {
    margin: auto;
    margin-bottom: 20px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .form-section {
    padding-right: 0;
    width: 100%;
  }

  .vertical-line {
    display: none;
  }

  .row1,
  .row2 {
    flex-direction: column;
  }

  .field {
    width: 100%;
  }

  .input {
    width: 80%;
    max-width: 100%;
    flex-grow: 1;
    margin: 0 auto;
  }

  .textarea {
    height: auto;
    width: auto;
  }

  .contact-info {
    max-width: 100%;
    margin-top: 20px;
    gap: 30px;
  }
}