.main-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  background-color: #f4f4f4;
}

.main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.slogan h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.slogan p {
  font-size: 1rem;
  color: #666;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: fit-content;
}

.image-section img,
.emp2 {
  height: 350px;
  width: 350px;
}

/* Loader styles */
.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Light background to cover content */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure loader is above all other content */
}

.spinner .clip-loader {
  border-color: #4e9ff5; /* Spinner color */
}

.services h2 {
  font-size: 0.9rem;
  font-weight: 300;
  color: #666;
  margin-right: 5px;
  padding: 3px;
  border-radius: 5px;
}

.services h2:hover {
  transform: scale(1.03);
  color: #5994d2;
  cursor: pointer;
}

.regcom {
  padding: 10px 20px;
  background-color: transparent;
  color: #37699e;
  border: 2px solid #37699e;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: fit-content;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.regcom:hover {
  background-color: rgb(216, 229, 242);
  color: #37699e;
}

.quality-job-management,
.shortlisting,
.whats-new {
  padding: 40px 20px;
  background-color: #fff;
  margin-top: 20px;
}

.top-div h2,
.bottom-div h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.top-div h5 {
  text-align: center;
  font-size: 1rem;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #5994d2;
}

.bottom-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shortlisting {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.right-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.left-div {
  margin-left: 7%;
}
.qright-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}
.qleft-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}

.left-div img,
.right-div img {
  max-width: 100%;
  height: auto;
}

.quality-item,
.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.whats-new .card-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 20px;
  margin-left: 10%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.whats-new {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  height: 350px;
}

.card img {
  max-width: 100%;
  height: 225px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.card p {
  color: #666;
}

.feature-grid,
.quality-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.emp3 {
  height: 450px;
  width: 450px;
  border-radius: 50%;
}
.feature-item,
.quality-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.feature-item:hover,
.quality-item:hover {
  background-color: #e0e0e0;
}

.feature-item .icon,
.quality-item .icon {
  font-size: 24px;
  margin-right: 10px;
}

.blue-icon {
  color: #007bff;
}

.right-div {
  flex: 1;
}

.right-div img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 850px) {
  .main-section {
    flex-direction: column;
    align-items: center;
    padding: 0%;
  }
  .image-section {
    margin: 0px !important;
  }

  .main-content {
    margin: 0;
    width: 100%;
  }
  .bottom-div {
    flex-direction: column;
  }
  .qleft-div {
    width: 100%;
  }

  .card-grid {
    flex-direction: column;
    display: flex !important;
    margin: 0px !important;
  }
  .quality-job-management {
    padding: 0px;
  }
  .slogan {
    width: 100%;
  }
  .left-div {
    margin: 0%;
  }
  .whats-new {
    padding: 0%;
    padding-top: 1rem;
  }
  .shortlisting {
    padding: 0%;
    flex-direction: column;
  }
  .feature-grid {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .qright-div {
    width: 100%;
    display: flex !important;

    justify-content: center !important;
  }
  .quality-grid {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .quality-item {
    width: 13rem;
  }
  .feature-item {
    width: 90%;
  }
}
