* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; 
}

.footer {
    background-color: #342d3b;
    color: #fff;
    padding: 50px 0;
    width: 100%; 
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
}

.footer-column h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #007bff;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.social-icons .linkedin {
    /* Add the transition effect */
    transition: transform 0.3s ease;
}

.social-icons .linkedin:hover {
    color: #0072b1;
    transform:scale(1.2);
}

.social-icons .github {
    /* Add the transition effect */
    transition: transform 0.3s ease;
}
.social-icons .github:hover {
    /* color: #007bff; */
    transform:scale(1.1);
}

.social-icons .twitter{
    /* Add the transition effect */
    transition: transform 0.3s ease;
}
.social-icons .twitter:hover {
    background:none;
    color:#1DA1F2;
    transform:scale(1.2);
}

.social-icons .facebook:hover {
    color: #4267B2;
    transform:scale(1.2);
}

.social-icons  .instagram {
    /* Add the transition effect */
    transition: transform 0.3s ease;
}

.social-icons .instagram:hover {
    color: #E1306C;
    transform:scale(1.2);
}


.footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 1em;
    padding-top: 10px;
    border-top: 1px solid #555;
}


@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        margin-right: 0; 
    }

    .footer-column > h3 {
        font-size: 1.5rem;
    }

    .social-icons {
        justify-content: center;
    }
}
