.hero-section {
    position: relative;
    color: #000000;
    text-align: center;
    padding: 100px 20px;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .hero-content {
    max-width: 600px;
    margin: auto;
    position: relative;
    z-index: 1;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family:sans-serif
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .search-bar {
    margin-top: 30px;
    display: flex;
    max-width: fit-content;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 8px;
    width: fit-content;
    padding-right: 15px;
    height: 65px;
    box-shadow: rgba(60, 64, 67, 0.7) 0px 1px 2px 0px, rgba(60, 64, 67, 0.35) 0px 2px 6px 2px;
  }
  
  .searchdiv {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 10px; 
    border: none;
    
  }
  
  .search {
    height: 40px;
    border-radius: 16px;
    padding-left: 40px; 
    border: none;
    font-size: 17px;
    outline: none;
    transition: all 0.3s ease;
    background-color: transparent;
  }
  
  .search:focus {
    border-color: #80bdff;
  }
  
  .search-icon,
  .location-icon {
    position: absolute;
    left: 10px; 
    color: #000000;
  }
  
  .searchbtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0564c9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    font-weight: 600;

  }
  .seprate{
    font-size: x-large;
    color: #565353;
 opacity: 0.3;
 font-weight: 100;
  }
  center{
    width: fit-content;
    align-self: center;
  }