.job-card-container {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    width: 225px;
    display: flex;
    flex-direction: column;
    color: #fff;
    transition: transform 0.3s ease;
    overflow: hidden;
    position: relative;
}

.job-card-container:hover {
    transform: translateY(-5px);
}

.job-image-wrapper {
    position: relative;
    height: 115px;
}

.job-card-image {
    width: 100%;
    border-radius: 12px;
    height: 100%;
}

.job-card-details {
    margin-top: 15px;
}

.job-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.company-name-tag {
    background-color: #e1e1e1;
    padding: 6px 12px;
    border-radius: 5px;
    color: rgb(14, 14, 14);
}

.job-location {
    font-size: 0.85rem;
    color: #aaa;
    display: flex;
    align-items: center;
}

.job-card-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.job-extra-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.job-department {
    color: #ccc;
    display: flex;
    align-items: center;
}

.job-view-link {
    color: #ff6347;
}

.job-view-link:hover {
    text-decoration: underline;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

@media (max-width: 600px) {
    .job-card-container {
        width: 100%;
    }

    .job-card-title {
        font-size: 1rem;
    }

    .job-extra-info {
        font-size: 0.8rem;
    }
}