.jobCardContainer {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    width: 225px;
    display: flex;
    flex-direction: column;
    color: #fff;
    transition: transform 0.3s ease;
    overflow: hidden;
    position: relative;
}

.jobCardContainer:hover {
    transform: translateY(-5px);
}

.jobImageWrapper {
    position: relative;
    height: 115px;
}

.jobCardImage {
    width: 100%;
    border-radius: 12px;
    height: 100%;
}

.jobCardDetails {
    margin-top: 15px;
}

.jobInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.companyNameTag {
    background-color: #e1e1e1;
    padding: 6px 12px;
    border-radius: 5px;
    color: rgb(14, 14, 14);
}

.jobLocation {
    font-size: 0.85rem;
    color: #aaa;
    display: flex;
    align-items: center;
}

.jobCardTitle {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.jobExtraInfo {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.jobDepartment {
    color: #ccc;
    display: flex;
    align-items: center;
}

.jobViewLink {
    color: #ff6347;
}

.jobViewLink:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .jobCardContainer {
        width: 100%;
    }

    .jobCardTitle {
        font-size: 1rem;
    }

    .jobExtraInfo {
        font-size: 0.8rem;
    }
}