.job-post-form-container {
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
}
.job-post-form-container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 28px;
}

.job-post-form label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    color: #555;
}

.job-post-form input[type="text"],
.job-post-form input[type="email"],
.job-post-form input[type="url"],
.job-post-form input[type="number"],
.job-post-form input[type="date"],
.job-post-form select,
.job-post-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.job-post-form textarea {
    height: 100px;
    resize: vertical;
}

.job-post-form .salary-range {
    display: flex;
    gap: 15px;
}

.job-post-form .salary-range input {
    flex: 1;
}


.job-post-form .react-select-container {
    margin-bottom: 15px;
}
.job-post-form button {
    display: block;
    width: 100px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #0096d6; /* Whitish blue color */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for a 3D effect */
    text-align: center;
}

.job-post-form button:hover {
    background-color: #007bb5; /* Darker blue for hover */
    transform: scale(1.05); /* Slightly scale up the button on hover */
}

