.middleview {
    display: flex;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 20px 0;
    transition: transform 0.3s ease;
    flex-wrap: wrap;
}

.text-part {
    max-width: 50%;
    padding-left: 10%;
    margin-top: 5%;
    flex: 1 1 300px;
}

.text-part h1 {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    margin-bottom: 10px;
}

.text-part p {
    font-size: 1.2em;
    color: #666;
    width: fit-content;
}

.roles-carousel {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.roles-list {
    display: flex;
    overflow-x: auto;
    padding: 4px;
    scroll-snap-type: x mandatory;
}

.roles-list::-webkit-scrollbar {
    display: none;
}

.role {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #ffffff;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
    cursor: pointer;
    color: #333;
    scroll-snap-align: start;
}

.role:hover {
    transform: scale(1.05);
}

.job-count {
    font-size: 0.9em;
    color: #504d4d;
    font-weight: 100;
    margin-left: 5px;
    margin-top: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.jobimg {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.jobimg img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.scroll-btn {
    display: none;
}

@media (max-width: 768px) {
    .middleview {
        flex-direction: column;
        align-items: center;
    }

    .text-part {
        max-width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .roles-carousel {
        justify-content: center;
    }

    .jobimg {
        margin-left: 0;
    }

    .middleview {
        flex-direction: column-reverse;
    }

    .jobimg img {
        width: 60%;
    }

    .jobimg {
        text-align: center;
    }

    .roles-carousel {
        padding: 0px 2rem;
        position: relative;
    }

    .roles-list {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    .role {
        padding: 10px 15px;
        margin-right: 10px;
        background-color: #ffffff;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        border-radius: 5px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1em;
        cursor: pointer;
        color: #333;
        scroll-snap-align: start;
    }

    .scroll-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        color: #333;
        display: block
    }

    .prev-btn {
        left: 0;
    }

    .next-btn {
        right: 0;
    }

    .text-part {
        flex: 1 1 180px;
    }
}

@media (max-width: 480px) {
    .text-part h1 {
        font-size: 24px;
    }

    .text-part p {
        font-size: 1em;
    }

    .role {
        font-size: 0.9em;
    }

    .job-count {
        font-size: 0.8em;
    }

    .jobimg img {
        width: 100%;
    }


}