.middleview {
  display: flex;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: 20px 0;
  transition: transform 0.3s ease;
}

.textPart {
  max-width: 50%;
  padding-left: 10%;
  margin-top: 5%;
}

.textPart h1 {
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #333;
  margin-bottom: 10px;
}

.textPart p {
  font-size: 1.2em;
  color: #666;
  width: fit-content;
}

.rolesCarousel {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.rolesList {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 4px;
  transition: transform 0.5s ease;
}

.rolesList::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.role {
  padding: 10px 15px;
  margin-right: 10px;
  background-color: #ffffff;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1em;
  cursor: pointer;
  color: #333;
}

.role:hover {
  transform: scale(1.05);
}

.jobCount {
  font-size: 0.9em;
  color: #504d4d;
  font-weight: 100;
  margin-left: 5px;
  margin-top: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.jobimg img {
  max-width: 400px;
  height: 400px;
  border-radius: 10px;
  margin-left: 10%;
}

@media (max-width: 768px) {
  .middleview {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .textPart {
    padding: 0px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .lazyloadWrapper {
    display: flex;
    justify-content: center;
  }

  .jobImage {
    margin: 0px !important;
  }
}

@media (max-width: 480px) {
  .textPart {
    max-width: 100%;
    padding: 10px;
  }

  .lazyloadWrapper {
    display: flex;
    justify-content: center;
  }

  .jobImage {
    margin: auto !important;
    width: 100%;
  }
}