.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

.hirehublogo {

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;

  font-weight: bold;
  color: #343a40;
}

.logoimg {
  height: 55px;
  max-width: 190px;
  padding-top: 5px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  flex-grow: 1;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
  font-size: 19px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #343a40;
  cursor: pointer;
  position: relative;
}

.icon svg {
  margin-right: 5px;
  color: #6c757d;
  transition: color 0.3s ease;
}

.icon:hover svg {
  color: #007bff;
}

.icon span {
  display: inline;
}

.icon:hover span {
  margin-left: 5px;
}

.icon.active span::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 3px;
  background-color: #007bff;
  border-radius: 2px;
}

.posting {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #0e0c0c;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.posting span {
  margin-right: 5px;
}

.posting-icon {
  color: #000000;
  transition: color 0.3s ease;
}

.posting:hover svg {
  color: #007bff;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .logo {
    margin-bottom: 10px;
  }

  .icons {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .icon {
    margin: 10px;
  }

  .posting {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .icon span {
    display: none;
  }

  .icon {
    margin: 10px;
  }

  .posting span {
    display: none;
  }
  .navbar {
    padding: 0px !important;  
  }
}
