/* Navbar.module.css */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.hirehublogo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 28px;
  font-weight: bold;
  color: #343a40;
}

.logoimg {
  height: 55px;
  max-width: 190px;
  padding-top: 5px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  justify-content: space-around;
  flex-grow: 1;
}

.icon {
  margin: 10px;
  font-size: 19px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #343a40;
  cursor: pointer;
  position: relative;
}

.icon a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.icon svg {
  margin-right: 5px;
  color: #6c757d;
  transition: color 0.3s ease;
  vertical-align: middle;
}

.icon span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.icon:hover svg {
  color: #007bff;
}

.icon:hover span {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #007bff;
}

.icon.active span::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 3px;
  background-color: #007bff;
  border-radius: 2px;
}

.posting {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #0e0c0c;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.posting span {
  margin-right: 5px;
  line-height: normal;
}

.posting-icon {
  color: #000000;
  transition: color 0.3s ease;
  vertical-align: middle;
}

.posting:hover svg {
  color: #007bff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .logo {
    margin-bottom: 10px;
  }

  .icons {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .icon {
    margin: 10px;
  }

  .posting {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .icon span,
  .posting span {
    display: none;
  }

  .navbar {
    padding: 0 !important;
  }
}

@media (max-width: 850px) {
  .navbar {
    padding: 0px !important;
  }
  .header {
    display: flex !important;
    justify-content: space-between;
  }
  .hamburger {
    display: block;
  }

  .icons {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .showMenu {
    display: flex;
  }
}
.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 1px;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent .icon {
  padding: 8px 10px; 
  display: flex;
  align-items: center;
}

.dropdownContent .icon:hover {
  background-color: #f1f1f1;
}
