.signupform {
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .signupform h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .signupform h2 {
    margin-bottom: 10px;
  }
  
  .signupform label {
    display: block;
    margin-bottom: 10px;
  }
  
  .signupform input[type="text"],
  .signupform input[type="email"],
  .signupform input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .signupinput {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .signupform button {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signupform button:hover {
    background-color: #0056b3;
  }
  
  .signupform button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .signupform button + button {
    margin-left: 10px;
  }
  