.uploaded-jobs-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
}

.uploaded-jobs-container h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.jobs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.job-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
       width: calc(33% - 20px);
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
}

.job-card h2 {
    font-size: 22px;
    color: #007bff;
    margin-bottom: 10px;
}

.job-card p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.job-card .apply-button {
    display: inline-block;      
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.job-card .apply-button:hover {
    background-color: #0056b3;
}
